<!-- <h1 *ngIf="sueldo>1025; else menor">
  <p>Registro de Sueldo</p>
  <p>El sueldo es: {{sueldo}}</p>
  {{mensaje1}}
</h1>
<ng-template #menor>
  <h1>
    {{mensaje2}}
  </h1>
</ng-template>
<br>
<br>
<hr>
<h3>Lista de empleados</h3>
<ul>
  <li *ngFor="let empleado of empleados">{{empleado}}</li>
</ul>
<hr>
<h3>Lista de empleados en una tabla</h3>

<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <tr *ngFor="let empleado of empleados">
    <td>{{empleado}}</td>
  </tr>
</table> -->
<div class="container d-flex flex-column gap-3 mt-5">
  <h1 class="text-center">Numeros pares - impares</h1>
  
  <ng-container *ngFor="let numero of numeros">
    <li *ngIf="numero%2===0; else impar" class="bg-success text-white p-2 rounded">
      {{numero}} - Par
    </li>
    <ng-template #impar>
      <li class="bg-danger text-white p-2 rounded">
        {{numero}} - Impar
      </li>
    </ng-template>
  </ng-container>
</div>