<!-- <app-form></app-form> -->

<label for="nombre">Nombre: </label><br>
<input id="nombre" type="text" [(ngModel)]="persona.nombre">
<br>
<label for="edad">Edad: </label><br>
<input id="edad" type="number" [(ngModel)]="persona.edad">
<br>
<button type="button" (click)="agregar()">Enviar</button>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Tipo</th>
  </tr>
  <tr *ngFor="let p of personas">
    <td>{{p.nombre}}</td>
    <td>{{p.edad}}</td>
    <td *ngIf="p.edad >=18;else menor">Mayor de edad</td>
    <ng-template #menor>
      <td *ngIf="p.edad <18">Menor de edad</td>
    </ng-template>
  </tr>
</table>