<div class="container">
  <form class="d-flex flex-column text-center border mt-5">
    <h1>Formulario</h1>
    <label for="name">
      <p>Nombre</p>
      <input type="text" name="name" #name>
    </label>
    <label for="lastName">
      <p>Apellido</p>
      <input type="text" name="lastName" #lastName>
    </label>
    <label for="age">
      <p>Edad</p>
      <input type="number" name="age" #age min="1">
    </label>

    <button type="button" class="btn btn-success d-block m-auto" (click)="sendUser(name,lastName,age)">Send</button>
  </form>



  <table class="table table-dark mt-5">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let name of nameArr">{{name}}</td>
        <td *ngFor="let lastName of lastNameArr">{{lastName}}</td>
        <td *ngFor="let age of ageArr">{{age}}</td>
      </tr>
    </tbody>
  </table>
</div>